body{
    margin: 0;
    padding: 0;
}

header{
    height: 100vh;
    background: url('../images/background1.jpg') center top no-repeat;
    background-size: cover;
}

.front{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.arrow_down{
    background: url('../images/arrow_down.png') center no-repeat;
    background-size: cover;
    width: 5%;
    height: 5%;
    left: 50%;
    bottom: 6%;
    margin-left: -2.5%;
    z-index: 100;
    animation-name: arrow_down;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes arrow_down{
    from{
        bottom: 6%;
    }

    10%{
        bottom: 5%;
    }

    20%{
        bottom: 4%;
    }

    30%{
        bottom: 3%;
    }

    40%{
        bottom: 2%;
    }

    50%{
        bottom: 1%;
    }

    60%{
        bottom: 2%;
    }

    70%{
        bottom: 3%;
    }

    80%{
        bottom: 4%;
    }

    90%{
        bottom: 5%;
    }

    100%{
        bottom: 6%;
    }
}

.sec1{
    height: 1000px;
    background: url('../images/background1.jpg') center no-repeat;
    background-size: cover;
}

.sec1 ol{
    margin: 0;
    width: 70%;
    height: 800px;
    font-size: 1.6em;
    top: 50%;
    margin-top: -450px;
    left: 50%;
    margin-left: -40%;
    line-height: 1.20em;
    padding: 2.5%;
    padding-left: 7%;

    background-color: rgba(0, 0, 0, 0.5);

    box-shadow: inset 0 0 50px 15px black;

    list-style-type: none;

}

.sec1 ol li{
    font-family: 'Rubik One', sans-serif;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}


.display_none{
    display: none;
}

.display_flex{
    display: flex;
}

.modal-body{
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    position: fixed;
}

.modal-body-left-block, .modal-body-right-block{
    width: 50%;
    height: 100%;
}

.modal-body-avatar{
    width: 60vh;
    height: 60vh;
    right: 5%;
    top: 20%;

    background: url('../images/background3.jpg') center no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.modal-body-description{
    width: 50vh;
    height: 50vh;
    left: 5%;
    top: 25%;

    background-color: rgba(0, 70, 200, 0.8);
    border-radius: 20%;
}

.modal-close{
    width: 5vh;
    height: 5vh;
    position: fixed;
    right: 10%;
    top: 15%;
    cursor: pointer;
}

.first_line_close, .second_line_close{
    width: 100%;
    height: 10px;
    background-color: rgba(255, 10, 10, 0.7);
    border-radius: 20%;
}

.first_line_close{
    transform: rotate(120deg);
}

.second_line_close{
    transform: rotate(240deg);
}

.relative_front_sec1{
    height: 100%;
    width: 100%;
}

.absolute_front_sec1{
    height: 96.5%;
    width: 5%;
    background-color:  rgba(238, 238, 0, 0.6);
    right: -8.5%;
    top: -5%;
    font-size: 1.3em;
    line-height: 1.55em;
    writing-mode: tb;
    text-align: left;
    padding-top: 10%;
}

.arrays-left-and-right{
    width: 30%;
    height: 30px;
    bottom: -30px;
    left: 50%;
    margin-left: -15%;
    display: flex;
}

.left-array, .right-array{
    font-size: 1.5em;
    cursor: pointer;
    width: 20%;
}

.left-array{
    float: left;
    text-align: left;
}

.right-array{
    float: right;
    text-align: right;
}

.pages{
    width: 60%;
    line-height: 30px;
    text-align: center;
    display: flex;
}

.block-items-pages{
    width: 50%;
    margin: 0 auto;
}

